.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 933px) {
    .header {
        padding: 45px 27px 41px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0;
    }
}