.lead__caption {
  font-size: 10px;
  line-height: calc(14/10);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 8px 0 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    padding-left: 18px;
  }
}