.header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header__container {
        flex-direction: column-reverse;
    }
}