.profile__info {
  display: flex;
  gap: 18px;
  max-width: 336px;
  align-self: center;
}

@media screen and (max-width: 820px) {
  .profile__info {
    gap: 10px;
    padding-left: 27px;
    max-width: 282px;
  }
}