.place__link {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22/18);
  border-bottom: 1px #FFFFFF solid;
  align-self: start;
}

.place__link::before {
  content: "url";
  display: flex;
  padding-bottom: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}