.profile__edit {
  align-self: flex-start;
  background-image: url(../../../images/button-edit.svg);
  min-width: 24px;
  min-height: 24px;
  margin-top: 16px;
  background-size: 10px;
  background-position: center;
}

@media screen and (max-width: 820px) {
  .profile__edit {
    min-width: 18px;
    min-height: 18px;
    margin-top: 5px;
    background-size: 7.5px;
  }
}