.popup {
  position: fixed;
  display: flex;
  z-index: 10;
  inset: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
