.wrapper {
  padding: 70px 70px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 80px 30px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 90px 10px 80px;
  }
}
