.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 0 92px;
  align-items: flex-start;

}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 0 16px 64px;
  }
}