.burger_active span {
  transform: scale(0) translate(0px, -50%);
}

.burger_active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.burger_active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}