.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 933px) {
  .header {
    padding: 45px 27px 41px;
  }
}

@media screen and (max-width: 820px) {
  .header {
    padding: 28px 27px 31.6px;
  }
}