.footer__text {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(21.78/18);
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 698px) {
  .footer__text {
    font-size: 14px;
    line-height: calc(16.94/14);
  }
}