.place__website {
  grid-area: website;
  align-self: end;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .place__website {
    padding-left: 16px;
  }
}