.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: calc(76/72);
  margin: 0;
  max-width: 560px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: calc(35/32);
    max-width: 288px;
    padding: 0 16px 0;
  }
}