.checkbox {
  position: relative;
  display: flex;
  gap: 14px;
  padding: 0;
  margin: 0;
}

.checkbox__item {
  position: relative;
  width: 34px;
  height: 20px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.pseudo-item {
  position: absolute;
  left: 0;
  top: 3px;
  width: 34px;
  height: 14px;
  background: var(--main-color);
  border-radius: 7px;
  transition: background 0.3s linear;
}

.pseudo-item::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: var(--main-bg-color);
  top: 2px;
  right: 2px;
  transition: 0.3s ease;
}

.pseudo-item_disabled {
  background: var(--checkbox-color);
}

.pseudo-item_disabled::after {
  background: var(--additional-bg-color);
  transform: translateX(-200%);
}

.checkbox__label {
  cursor: default;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 768px) {
  .checkbox {
    align-self: flex-end;
    gap: 16px;
  }

  .checkbox__label {
    order: -1;
  }

  .pseudo-item {
    left: 132px;
  }
}

@media (max-width: 425px) {
  .checkbox {
    align-self: auto;
    margin: 0 auto;
  }

  .checkbox__label {
    font-size: 11px;
  }

  .pseudo-item {
    left: 115px;
  }
}
