.footer {
  margin: 0 auto;
  padding: 0 0 60px 0;
  max-width: 880px;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 0 27px 60px;
  }
}

@media screen and (max-width: 698px) {
  .footer {
    padding: 0 19px 36px;
  }
}